* {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: absolute;
  background-color: rgb(209, 204, 204);
  height: 100vh;
  transition: transform 0.3s ease-in;
}

.sidebar nav {
  padding: 35px;
}
.sidebar nav li {
  list-style: none;
  font-size: 40px;
  padding: 25px 0;
}

.sidebar nav li a {
  text-decoration: none;
  color: black;
}
.main {
  width: 90vw;
}

.container {
  display: flex;
}

.InfoContainer {
  height: 60vh;
  width: 70vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}
.heading {
  font-size: 40px;
  padding: 12px;
  margin: 12px;
}

.para {
  margin-left: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.About {
  font-size: 30px;
  margin-left: 16%;
  margin-top: 5%;
}

.Like {
  font-size: 30px;
  margin-left: 16%;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 10px;
}

.cross{
  margin-left: 155px;
}
/* @media(max-width : 1115px){
  .sidebar{
    transform: translate(-443px, 0px);
    position: absolute;
  }
}  */

.sidebarGo{
  position: absolute;
  transform: translate(-443px, 0px);
}